@import url('https://fonts.googleapis.com/css?family=Karma');
$icon-layout: horizontal;
@import "icon/*.png";
@include all-icon-sprites;

.icon-animation {
    width: 300px;
    height: 225px;
    background: url("../img/icon-se97b0b502b.png") left center;
    animation: play 3s steps(36) infinite;
}

@keyframes play{
    100%{
        background-position: -10800px;
    }
}

body{
        @media screen and (max-width: $frame-break) {
            width: 570px;
            h1{
                width: 400px;
                text-align: center;
                margin-top: 20px;
            }
          }

    h1{
        width: 400px;
        margin: 0 auto;
        font-family: "Karma", serif;
        margin-top: 100px;
        color: black;
        text-align: center;
        border-bottom: 1px solid;
    }
    .nav{
        font-family: "Karma", serif;
        a:link{
            color: black;
            position: absolute;
            top: 10px;
            left: -5px;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            border-radius: 10%;
            border: solid rgba(255,255,255,1);
            background: rgba(255,255,255,.6);
            transition: 1s;
        }
        a:hover{
            background: white;
            color: black;
            
        }
        a:visited{
            color: black;
            
        }
    }
    
}
.all{
    min-width: 754px;
}

.frame{

        background: url(../img/frame.jpg) no-repeat;
        background-size: 570px 500px;
        width: 570px;
        height: 500px;
        margin: 0 auto;
        position: fixed;
        left: 0;
        right: 0; 
        top: 200px;
        z-index: -9999;
        @media screen and (max-width: $frame-break) {
            background-size: 570px 500px;
            margin: 0 auto;
            background-position: center center;
            left: 0;
            right: 0;
            width: 100%;
          }
    
}
.ship{
    max-width: 300px;
    margin-top: 220px;
    position: fixed;
    top: 350px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.description{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @media screen and (max-height: $break-small) {
    display: none;
  }
}









